# Link
Options FollowSymLinks

# Rewrite ON
RewriteEngine on

# Webroot Rewrite
RewriteCond %{REQUEST_URI} !/web_root/
RewriteRule ^.*$ web_root/$0

# PHP Script
RewriteCond %{REQUEST_URI} /web_root/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^web_root/(.*)$ web_root/index.php?path=$1

# SmartPhone Device
SetEnvIf User-Agent "iPhone" UA=sp
SetEnvIf User-Agent "iPod" UA=sp
SetEnvIf User-Agent "Android" UA=sp

# Cookie
SetEnvIf Cookie "viewmode=pc" MODE=pc

# ViewMode SmartPhone
RewriteCond %{ENV:UA} ^sp$
RewriteCond %{ENV:MODE} !^pc$
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} !_sp\.html$
RewriteRule ^(.+)\.html$ $1_sp.html [C]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)_sp\.html$ $1.html
